*
{
margin:0;
padding: 0;
}
header
{
	background-image:url('service2.jpg');
	height:35vh;
	background-size:cover;
	background-position:center;  
}
.menu 
{
    float:right;
	list-style: none;
	
}
.menu li
{
	display: inline-block;
	margin: 10px 5px;
}

.menu li a
{
	 text-decoration: none;
	 color:black;
	 padding:5px 10px;
	 font-family: sans-serif;
	 letter-spacing: 3px;
	 border: 1px solid black;
}
.menu li a:hover
{
	background:white;
	transition: .4s;
	color:#000;
}
.text
{
	text-decoration: underline;
	color:red;
	top:100px;
}
.computer
{
	padding-left: 100px;
	padding-top: 10px;
	line-height: 30px;
	color:default;
}
.p3
{
	padding-right:100px; 
}