*
{
margin:0;
padding: 0;
}


header
{
	background-image:url('laptop5.jpg');
	height:100vh;
	background-size:cover;
	background-position:center;  
}

.menu 
{
    float:right;
	list-style: none;
	
}
.menu li
{
	display: inline-block;
	margin: 10px 5px;
}

.menu li a
{
	 text-decoration: none;
	 color:black;
	 padding:5px 10px;
	 font-family: sans-serif;
	 letter-spacing: 3px;
	 border: 1px solid black;
}
.menu li a:hover
{
	background:white;
	transition: .4s;
	color:#000;
}
.welcome
{
	position: relative;
	font-size:30px;
	text-align:left;
	padding-left: 10px;
	font-family:Algerian;
	bod:0px;
	color:black;
	top:20px;
}
.video
{
	margin-top: 5px;
	padding-top:10px;
	padding-left: 10px;
	margin:left;
	}